*{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 80px;
    margin:20px;
    font-weight: 700;
    color: slateblue;
}
div{
    background-image: url("block.png");
    background-size: contain;
    width: 200px;
    height: 200px;
}