*{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 80px;
    margin:20px;
    font-weight: 700;
    color: slateblue;
}
.ocean{
    background-color: aqua;
}

.ship{
    background-color: lightblue;
}
