header, footer {
    background-color: salmon;
    height: 80px;
    padding: 20px;
}
main {
    background-color: wheat;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 800px;
    align-content: center;
    width: 80%;
}

main div{
    background-color: lightcyan;
    width: 300px;
    /* width: 25%; */
    font-size: 100px;
    line-height: 25vw;
    margin: 1vw;
    text-align: center;
    color: salmon;
    order: 1;
}
.big {
    width: 500px;
    line-height:500px;

}
.logo{
    width:300px;
    height:100px;
    background-image: url("../logo.png");
    background-size: contain;
    background-repeat: no-repeat;   
}
@media only screen and (max-width: 600px) {
    .logo{
        width:200px;
    }
}
